<form method="post" action="{{ path('usuario_reset_password', {'id': usuario.id}) }}" onsubmit="return confirm('¿Estás seguro que deseas resetear esta contraseña?. Será enviado un correo a la dirección de email del usuario ');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('reset' ~ usuario.id) }}">
    <button class="btn red"><i class="material-icons">vpn_key</i></button>
</form>