{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="container">
    <div class="card">
        <div class="card-content">
        
    <h4>Debes indicar una nueva contraseña</h4>
            {{form(form)}}
        </div>
    </div>
</div>
    
    
{% endblock %}