{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="box-header">
        <h1 class="box-title">Usuario</h1>
    </div>
    <div class="box-body">
        <form action="" method="post" role="form">
            <div class="form-group">
                {{ include('usuario/_form.html.twig',{'button_label': 'Guardar'}) }}
                </br>
                </br>
                <a href="{{ path("welcome") }}" class="btn btn-primary">Volver al inicio</a>
            </div>
        </form>
    </div>
</div>
    
    
{% endblock %}