
{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="box-header">
        <h1 class="box-title">Usuario</h1>
    </div>
    <div class="box-body">
        <form action="" method="post" role="form">
            <div class="form-group">
                {{ include('usuario/_form.html.twig',{'button_label': 'Guardar'}) }}
                </br>
                </br>
                {{ include('usuario/_delete_form.html.twig') }}
                </br>
                <a href="{{ path('administracion',{'active':'usuarios'}) }}" class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
    
    
{% endblock %}