{% block body %}

    <table class="table table-data-filter">
      <thead>
          <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <!--<th>Password</th>-->
            <th>Rol</th>
            <th>Acciones</th>
            <th>Reset password</th>
          </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
          <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{% for rol in usuario.roles %}
              <a href="" class="btn"><span >{{ rol }}</span></a>
            {% endfor %}</td>
            <td>
              <a class="btn cyan"  href="{{path("usuario_show",{"id":usuario.id})}}" ><i class="material-icons">pageview</i></a>
              <a class="btn green" href="{{path("usuario_edit",{"id":usuario.id})}}"><i class="material-icons">edit</i></a>
            </td>
            <td>
              {% include 'usuario/_reset_password_form.html.twig' %}
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5">no records found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
	  </br>

    <a href="{{ path('usuario_new') }}" class="btn btn-primary">Crear usuario</a>

{% endblock %}

                                