{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
<div class="box box-danger">
    <div class="box-header">
        <h1 class="box-title">Usuario</h1>
    </div>
    <div class="box-body">
        <form action="" method="post" role="form">
            <div class="">
                {{ include('usuario/_form.html.twig',{'button_label': 'Crear'}) }}
                </br>
                </br>
                <a href="{{ path('usuario_index') }}"class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
 