{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <br>
    <div class="card">
    <div class="card-content">
        <h3 class="box-title">Usuario</h3>
    
        <table class="striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ usuario.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><a href="mailto:{{ usuario.email }}">{{ usuario.email }}</a></td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ usuario.nombre }}</td>
                </tr>
                <tr>
                    <th>Apellido</th>
                    <td>{{ usuario.apellido }}</td>
                </tr>
            </tbody>
        </table>
        </br>
        <a href="{{ path('usuario_edit', {'id': usuario.id}) }}" class="btn btn-primary">Ir a modificar</a>
        </br></br>
        {{ include('usuario/_delete_form.html.twig') }}
        </br>
        <a href="{{ path('administracion',{'active':'usuarios'}) }}" class="btn btn-primary">Volver a la lista</a>
    </div>
    </div>
    
</div>
{% endblock %}
