{% extends 'base.html.twig' %}

{% block body %}
<br>
 <div class="container">
        <div class="card-panel">
            <div class="box">
                <h5 class="box-title">Informe de lineas por Centro de costos</h5>

            </div>
            <div class="box-body">
                {{form(formularios.ceco)}}
            </div>
        </div>
        <div class="card-panel">
            <div class="box">
                <h5 class="box-title">Informe de lineas por empleado</h5>
            </div>
            <div class="box-body">
                {{form(formularios.empleado)}}
            </div>
        </div>
        <div class="card-panel">
            <div class="box">
                <h5 class="box-title">Informe de lineas</h5>
            </div>
            <div class="box-body">
                {{form(formularios.linea)}}
            </div>
            <br>
        </div>
{% endblock %}
