{% extends 'base.html.twig' %}

{% block title %}Edit Grupo{% endblock %}

{% block body %}

<div class="container">
        <h1 class="box-title">Grupo</h1>
    
        <form action="" method="POST" role="form">
            <div class="form-group">
                {{ include('grupo/_form.html.twig', {'button_label': 'Guardar'}) }}
                </br>
                </br>
                {{ include('grupo/_delete_form.html.twig') }}
                </br>
                <a href="{{ path('administracion',{'active':"grupos"}) }}"class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    
</div>

{% endblock %}