
{% block body %}
    <h3 class="box-title">Grupo</h3>
    <table class="table">
      <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for grupo in grupos %}
            <tr>
                <td>{{ grupo.id }}</td>
                <td>{{ grupo.nombre }}</td>
                <td>
                    <a class="btn cyan"  href="{{path("grupo_show",{"id":grupo.id})}}" ><i class="material-icons">pageview</i></a>
                    <a class="btn green" href="{{path("grupo_edit",{"id":grupo.id})}}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron registros</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </br>
    <a href="{{ path('grupo_new') }}" class="btn btn-primary">Crear grupo</a>
 
        
{% endblock %}
