{% extends 'base.html.twig' %}

{% block title %}New Grupo{% endblock %}

{% block body %}

<div class="container">
    <div class="box-header">
        <h1 class="box-title">Grupo</h1>
    </div>
    <div class="box-body">
        <form action="" method="POST" role="form">
            <div class="form-group">
                {{ include('grupo/_form.html.twig',{'button_label': 'Crear'}) }}
                </br>
                </br>
                <a href="{{ path('administracion',{'active':"grupos"}) }}" class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}