{% extends 'base.html.twig' %}

{% block title %}Grupo{% endblock %}

{% block body %}


<div class="container">
    <h3 class="box-title">Grupo</h3>
  
    <table class="table table-bordered">
      <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grupo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ grupo.nombre }}</td>
            </tr>
      </tbody>
    </table>
    </br>
    <a href="{{ path('grupo_edit', {'id': grupo.id}) }}" class="btn btn-primary">Ir a modificar</a>
    </br>
    </br>
    {{ include('grupo/_delete_form.html.twig') }}
    </br>
    <a href="{{ path('administracion',{'active':"grupos"}) }}" class="btn btn-primary">Volver a la lista</a>
  
</div>
        
    

    
{% endblock %}