{% extends 'base.html.twig' %}

{% block title %}ALM - Welcome{% endblock %}

{% block body %}
<div class="row"></div>
<div class="row center">
<div class="col s4">
    
    <i class="material-icons">phone_android</i>
    <h4>{{dashboard.equipos}}</h4>
    <p>Equipos</p>
</div>
<div class="col s4">
    <i class="material-icons">contact_phone</i>
    <h4>{{dashboard.lineas}}</h4>
    <p>Lineas</p>
</div>
<div class="col s4">
    <i class="material-icons">autorenew</i>
    <h4>{{dashboard.pendientes}}</h4>
    <p>R. Pendientes</p>
</div>
</div>
<div class="container">
    <div class="card">
    <div class="card-content">
        <p>Puedes obtener información importante acerca del uso de las lineas a través de las siguientes opciones.</p>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#tab1">Busqueda</a></li>
        <li class="tab"><a href="#tab3">Instructivo</a></li>
        <li class="tab"><a href="#tab2">Planes</a></li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="tab1">
        <div class="col s12 m7">
            <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                    <button class="btn waves-effect waves-light blue" type="submit" name="action">Consultar
                    <i class="material-icons right">send</i>
                    </button>
           
                
                {{ form_end(form) }}
                <br />
                    {% if (resultados.lineas != null) or (resultados.empleados  != null) %}
              
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Linea</td>
                                <td>Usuario</td>
                                <td>CeCo</td>
                                <td>Antiguedad</td>
                                <td>Modelo</td>
                                <td>Plan</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if resultados.lineas is defined %}
                                {% for linea in resultados.lineas %}
                                    <tr>
                                        <td>{{linea.numero}}</td>
                                        {% if linea.empleado != null %}
                                        <td>{{linea.empleado.nombre}}</td>
                                        <td>{{linea.empleado.codeCeco}}</td>
                                        {% else %}
                                            <td>Empleado no ingresado</td>
                                            <td>Empleado no ingresado</td>
                                        {% endif %}
                                        {% if linea.equipo != null %}
                                        
                                        <td>{{dateManager.get_month_diff(linea.equipo.fechaIngreso)}} Meses</td>
                                        <td>{{linea.equipo.modelo.nombre}}</td>
                                        {% else %}
                                           <td>0</td>
                                           <td>Equipo no ingresado</td> 
                                        {% endif %}
                                        {% if linea.plan != null %}
                                        <td>{{linea.plan.nombre}}</td>
                                        {% else %}
                                        <td>Sin plan asociado</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if resultados.empleados.lineas is defined %}
                                {% for linea in  resultados.empleados.lineas %}
                                <tr>
                                     <td>{{linea.numero}}</td>
                                        {% if linea.empleado != null %}
                                        <td>{{linea.empleado.nombre}}</td>
                                        <td>{{linea.empleado.codeCeco}}</td>
                                        {% else %}
                                            <td>Empleado no ingresado</td>
                                            <td>Empleado no ingresado</td>
                                        {% endif %}
                                        {% if linea.equipo != null %}
                                        
                                        <td>{{dateManager.get_month_diff(linea.equipo.fechaIngreso)}} Meses</td>
                                        <td>{{linea.equipo.modelo.nombre}}</td>
                                        {% else %}
                                           <td>0</td>
                                           <td>Equipo no ingresado</td> 
                                        {% endif %}
                                        {% if linea.plan != null %}
                                        <td>{{linea.plan.nombre}}</td>
                                        {% else %}
                                        <td>Sin plan asociado</td>
                                        {% endif %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                            
                            
                        </tbody>
                    </table>
                    
                {% endif %}
                </div>
            </div>
            </div>
        </div>
        </div>
        <div id="tab2">
            {% for plan in planes %}
            <div class="card">
        
                    <div class="card-content">
                    <span class="card-title grey-text text-darken-4">{{plan.nombre}}</span>
                    <table class="centered">
                        <thead>
                        <tr>
                            <th>Minutos</th>
                            <th>Umbral Navegación</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% if plan.minutos > 43200 %}
                            <td>Ilimitado</td>
                            {% else %}
                            <td>{{plan.minutos}}</td>
                            {% endif %}
                            
                            {% if plan.umbral < 0 %}
                            <td>Ilimitado</td>
                            {% else %}
                            <td>{{plan.umbral/1000}}GB</td>
                            {% endif %}
                            
                            
                            
                        </tr>
                        </tbody>
                    </table>
                    </div>
            
                </div>
            {% endfor %}
        
        
        </div>
        <div id="tab3">
            <div class="col s12 m7">
                <div class="card horizontal green">
                <div class="card-stacked">
                    <div class="card-content white-text center">
                    <p>Puedes descargar el instructivo de telefonía desde el siguiente enlace:</p>
                    </div>
                    <div class="card-action center">
                    <a href="{{asset("dw/IN-36.pdf")}}" target="_blank" class="btn">IXX - Instructivo telefonía </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
