<form method="post" action="{{ path('plan_delete', {'id': plan.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plan.id) }}">
    <button class="btn red">Eliminar</button>
</form>