{% block body %}
    <h3>Planes</h3>
    <div class="col s12 m12 ">
    <table class="">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Minutos</th>
            <th>Umbral</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for plan in planes %}
            <tr>
                <td>{{plan.id}}</td>
                <td>{{plan.nombre}}</td>
                <td>{{plan.codigo}}</td>
                {% if plan.minutos > 43200 %}
                <td>Ilimitado</td>
                {% else %}
                    
                <td>{{plan.minutos}}</td>
                {% endif %}
                
                {% if plan.umbral < 0 %}
                <td>Ilimitado</td>
                {% else %}
                <td>{{plan.umbral/1000}}GB</td>
                {% endif %}
                
                
                <td>{{plan.estado}}</td>
                <td>
                    <a class="btn cyan"  href="{{path("plan_show",{"id":plan.id})}}" ><i class="material-icons">pageview</i></a>
                    <a class="btn green" href="{{path("plan_edit",{"id":plan.id})}}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% else %}
        <tr>
            <td colspan="5">No se encontraron registros</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
        </br>      
        <a href="{{ path('plan_new') }}" class="btn btn-primary">Crear Plan</a>
    </div>
{% endblock %}
