{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="box-header">
        <h1 class="box-title">Plan</h1>
    </div>
    <div class="card-panel teal white-text">
        <table>
            <thead>
                <th>Minutos</th>
                <th>Umbral</th>
            </thead>
            <tbody>
                <tr>
                    <td>>5000 = Ilimitado</td>
                    <td><0 = Ilimitado</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-body">
        <form action="" method="post" role="form">
            <div class="form-group">
                {{ include('plan/_form.html.twig',{'button_label': 'Crear'}) }}
                </br>
                </br>
                <a href="{{ path('administracion',{'active':'planes'}) }}" class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
    
<br>
</div>
{% endblock %}