{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="box-header">
        <h3 class="box-title">Plan</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ plan.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ plan.nombre }}</td>
                </tr>
            </tbody>
        </table>
        </br>
        <a href="{{ path('plan_edit', {'id': plan.id}) }}" class="btn btn-primary">Ir a modificar</a>
        </br>
        </br>
        {{ include('plan/_delete_form.html.twig') }}
        </br>
        <a href="{{ path('administracion',{'active':'planes'}) }} " class="btn btn-primary">Volver a la lista</a>
    </div>
</div>
{% endblock %}
