{% block body %}

<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">Modelo</h3>
    </div>
    <div class="box-body">
        <table class="table table-data-filter">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Cod. Dscto.</th>
                    <th>Descuento</th>
                    <th>Valor</th>
                    <th>Cuota Inicial</th>
                    <th>Cuota Arrendamiento</th>
                    <th>Plan</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for modelo in modelos %}
                    <tr>
                        <td>{{ modelo.id }}</td>
                        <td>{{ modelo.nombre }}</td>
                        <td>{{ modelo.codigo }}</td>
                        <td>{{ modelo.codDescuento }}</td>
                        <td>  
                                {{ modelo.descuento }}%
                            <div class="progress">
                                <div class="determinate" style="width: {{ modelo.descuento }}%"></div>
                            </div>
                        </td>
                        <td>${{ modelo.precioVenta }}</td>
                        <td>${{ modelo.cuotaInicial }}</td>
                        <td>${{ modelo.cuotaArrendamiento }}</td>
                          {% if modelo.plan is defined %}
                            <td>{{ modelo.plan.nombre }}</td>
                            {% else %}
                            <td>Plan No Asignado</td>
                            {% endif %}
                        <td>
                            <a class="btn cyan"  href="{{path("modelo_show",{"id":modelo.id})}}" ><i class="material-icons">pageview</i></a>
                            <a class="btn green" href="{{path("modelo_edit",{"id":modelo.id})}}"><i class="material-icons">edit</i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </br>      
        <a href="{{ path('modelo_new') }}" class="btn btn-primary">Crear modelo</a>
    </div>
    <br>
</div>
{% endblock %}
