{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="box-header">
        <h1 class="box-title">Modelo</h1>
    </div>
    <div class="box-body">
        <form action="" method="POST" role="form">
            <div class="form-group">
                {{ include('modelo/_form.html.twig',{'button_label': 'Crear'}) }}
                </br>
                </br>
                <a href="{{ path('administracion',{'active':'modelos'}) }}" class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
        
{% endblock %}