{% extends 'base.html.twig' %}
{% block body %}


<div class="container">
  <div class="box-header">
    <h3 class="box-title">Modelo</h3>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <tbody>
            <tr>
                <th>Id</th>
                <td>{{ modelo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ modelo.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ modelo.codigo }}</td>
            </tr>
            <tr>
                <th>Plan</th>
                {% if modelo.plan is defined %}
                
                <td>{{ modelo.plan.nombre }}</td>
                {% else %}
                <td>Plan No Asignado</td>
                  
                {% endif %}
            </tr>
      </tbody>
    </table>
    </br>
    <a href="{{ path('modelo_edit', {'id': modelo.id}) }}" class="btn btn-primary">Ir a modificar</a>
    </br>
    </br>
    {{ include('modelo/_delete_form.html.twig') }}
    </br>
    <a href="{{ path('administracion',{"active":"modelos"}) }}" class="btn btn-primary">Volver a la lista</a>
  </div>
</div>
{% endblock %}

