<footer class="page-footer black">
<div class="footer-copyright">
<div class="container">
    © 2018 Copyright 
    <a class="grey-text text-lighten-4 right" href="#!">Raion Soft</a>
</div>
</div>
</footer>