{% block messages %}
{% for message in app.flashes('Exito') %}
<div class="card-panel green white-text">
    <b>Exito!</b> {{ message|raw }}
</div>
{% endfor %}
{% for message in app.flashes('Error') %}
<div class="card-panel red white-text">
    <b>Error!</b> {{ message }}
</div>
{% endfor %}
{% if error is defined %}
  {% if error.messageKey is defined %}
  
      <div class="card-panel red white-text">
          <b>Error!</b> 
          {{ error.messageKey }}
      </div>
  {% endif %}
{% endif %}
{%- block form_errors -%}
    {% if errors is defined %}
    
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="card-panel red white-text {{ error.cause.constraint.payload.severity ?? '' }}">{{ error.message }}</div>
        {%- endfor -%}
    {%- endif -%}
    {% endif %}
{%- endblock form_errors -%}
{% endblock messages %}
