<nav class="black">
    <div class="nav-wrapper">
        <div class="container">
        <a href="{{path('welcome')}}" class="brand-logo"><b>ALM</b> Portal</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">              
            <li><a href="{{path('welcome')}}">Home</a></li>
            <li><a href="{{ path('gestion') }}">Gestión</a></li>
            <li><a href="{{ path('administracion') }}">Administración</a></li>
            <li><a href="{{ path('informe') }}">Informes</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a class="btn"> {{ app.user.fullName }}</a></li>
                <li><a href="{{ path('app_logout') }}"> Cerrar Sesión</a></li>
            {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-menu">
            <li>
            <div class="userView">
                <div class="background">
                <img src="http://lorempixel.com/output/abstract-q-c-640-480-10.jpg" alt="Background Sidenav">
                </div>
                 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                 
                <a href="#!name">
                    <span class="white-text name">
                        {{ app.user.fullName }}
                    </span>
                </a>
                <a href="#!email"><span class="white-text email">{{ app.user.email }}</span></a>
                
                    {% endif %}
            </div>
            </li>
            <li><a href="{{path('welcome')}}">Home</a></li>
            <li><a href="{{ path('gestion') }}">Gestión</a></li>
            <li><a href="{{ path('administracion') }}">Administración</a></li>
            <li><a href="{{ path('informe') }}">Informes</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('app_logout') }}"> Cerrar Sesión</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>