<!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- Materialize JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!-- DataTable -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/kt-2.4.0/sl-1.2.6/datatables.min.js"></script>
<script>
    $(document).ready(function(){
    
    $('select').material_select();
    
    $(".button-collapse").sideNav();
   
    $('.dropdown-trigger').dropdown();

    $('.table-data-filter').DataTable({
        select: true,
        keys: true,
        language: {
        "lengthMenu": "Mostrando _MENU_ registros por página",
        "zeroRecords": "No se encontraron registros",
        "info": "Mostrando página _PAGE_ de _PAGES_",
        "infoEmpty": "Sin información",
        "infoFiltered": "(filtrado de _MAX_ registros)"
        },
        buttons: [
         'excel', 'pdf'
        ]
    });
    $('div.dataTables_filter input').addClass('input-field');

    });
    
</script>