<form method="post" action="{{ path('equipo_delete', {'id': equipo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipo.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>