{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="box-header">
        <h1 class="box-title">Equipo</h1>
    </div>
    <div class="box-body">
        <form action="" method="POST" role="form">
            <div class="form-group">
                {{ include('equipo/_form.html.twig', {'button_label': 'Guardar'}) }}
                </br>
                </br>
                {{ include('equipo/_delete_form.html.twig') }}
                </br>
                <a href="{{ path('gestion',{'active':'equipos'}) }}"class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}