
{% block body %}

<div class="container">
  <div class="box-header">
    <h3 class="box-title">Equipo</h3>
  </div>
  <div class="box-body">
    <table class="table table-data-filter">
      <thead>
        <tr>
            <!--<th>Id</th>-->
            <th>Imei</th>
            <th>FechaIngreso</th>
            <th>Modelo</th>
            <th>Estado</th>
            <th>actions</th>
        </tr>
      </thead>
      <tbody>
        {% for equipo in equipos %}
            <tr>
                <td>{{ equipo.imei }}</td>
                <td>{{ equipo.fechaIngreso ? equipo.fechaIngreso|date('d-m-Y') : '' }}</td>
                {% if equipo.modelo.nombre is defined %}
                  <td>{{ equipo.modelo.nombre}}</td>
                {% else %}
                  <td>No indicado</td>                
                {% endif %}
                
                <td>{% if equipo.estado == 1 %}De Baja{% else %}Activo{% endif %}</td>
                <td>
                    <a class="btn cyan"  href="{{path("equipo_show",{"id":equipo.id})}}" ><i class="material-icons">pageview</i></a>
                    <a class="btn green" href="{{path("equipo_edit",{"id":equipo.id})}}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </br>
    <a href="{{ path('equipo_new') }}" class="btn btn-primary">Crear equipo</a>
  </div>
</div>
{% endblock %}


