{% extends 'base.html.twig' %}
{% block body %}

<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">Equipo</h3>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ equipo.id }}</td>
                </tr>
                <tr>
                    <th>Imei</th>
                    <td>{{ equipo.imei }}</td>
                </tr>
                <tr>
                    <th>FechaIngreso</th>
                    <td>{{ equipo.fechaIngreso ? equipo.fechaIngreso|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Modelo</th>
                     {% if equipo.modelo.nombre is defined %}
                        <td>{{ equipo.modelo.nombre}}</td>
                        {% else %}
                        <td>No indicado</td>                
                        {% endif %}
                </tr>

            </tbody>
        </table>
        </br>
        <a href="{{ path('equipo_edit', {'id': equipo.id}) }}" class="btn btn-primary">Ir a modificar</a>
        </br>
        </br>
        {{ include('equipo/_delete_form.html.twig') }}
        </br>   
        <a href="{{ path('gestion',{'active':'equipos'}) }}" class="btn btn-primary">Volver a la lista</a>
    </div>
</div>
        

    

    
{% endblock %}