{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="box-header">
        <h1 class="box-title">Empleado</h1>
    </div>
    <div class="box-body">
        <form action="" method="POST" role="form">
            <div class="form-group">
                {{ include('empleado/_form.html.twig', {'button_label': 'Guardar'}) }}
                </br>
                </br>
                {{ include('empleado/_delete_form.html.twig') }}
                </br>
                <a href="{{ path('gestion',{'active':'empleados'}) }}" class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
    <br>
</div>

    
{% endblock %}