
{% block body %}

        <table class="table table-data-filter">
            <thead>
                <tr>               
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Ceco</th>
                    <th>Subdivision</th>
                    <th>Cargo</th>
                    <th>Empresa</th>
                    <th>Actions</th> 
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.rut }}</td>
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.codeCeco }}</td>
                        <td>{{ empleado.subdivision }}</td>
                        <td>{{ empleado.cargo }}</td>
                        <td>{{ empleado.empresa }}</td>
                      <td>
                            <a class="btn cyan"  href="{{path("empleado_show",{"id":empleado.id})}}" ><i class="material-icons">pageview</i></a>
                            <a class="btn green" href="{{path("empleado_edit",{"id":empleado.id})}}"><i class="material-icons">edit</i></a> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </br>
        <a href="{{ path('empleado_new') }}" class="btn btn-primary">Crear empleado</a>
<br>
{% endblock %}



