{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h3 class="box-title">Empleado</h3>
  
  <div class="card">
  <div class="card-content">
    <table class="striped">
      <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empleado.id }}</td>
            </tr>
            <tr>
                <th>Rut</th>
                <td>{{ empleado.rut }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ empleado.nombre }}</td>
            </tr>
            <tr>
                <th>FechaIngreso</th>
                <td>{{ empleado.fechaIngreso }}</td>
            </tr>
            <tr>
                <th>CodeCeco</th>
                <td>{{ empleado.codeCeco }}</td>
            </tr>
            <tr>
                <th>NombreCeco</th>
                <td>{{ empleado.nombreCeco }}</td>
            </tr>
            <tr>
                <th>UnidadOrganizativa</th>
                <td>{{ empleado.unidadOrganizativa }}</td>
            </tr>
            <tr>
                <th>Division</th>
                <td>{{ empleado.division }}</td>
            </tr>
            <tr>
                <th>Subdivision</th>
                <td>{{ empleado.subdivision }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ empleado.cargo }}</td>
            </tr>
            <tr>
                <th>Empresa</th>
                <td>{{ empleado.empresa }}</td>
            </tr>
            <tr>
                <th>NombreJefatura</th>
                <td>{{ empleado.nombreJefatura }}</td>
            </tr>
      </tbody>
    </table>
     </br>
    <table>
        <tr>
            <td><a href="{{ path('empleado_edit', {'id': empleado.id}) }}" class="btn btn-primary">Ir a modificar</a></td>
            <td>{{ include('empleado/_delete_form.html.twig') }}</td>
            <td><a href="{{ path('gestion',{'active':'empleados'}) }}" class="btn btn-primary">Volver a la lista</a></td>
        </tr>
    </table>
 
   </div>
   <div class="card">
       <div class="card-content">
        <table>
            <thead>
                <th>Linea</th>
                <th>Equipo</th>
                <th>IMEI</th>
                <th>Antiguedad</th>
                <th>Costo Aceleración</th>
                <th>Plan</th>
                <th>Acción</th>
            </thead>
            <tbody>
                {% for linea in empleado.lineas %}
                    <tr>
                        <td>{{linea.numero}}</td>
                        <td>{{linea.equipo.modelo.nombre}}</td>
                        <td>{{linea.equipo.imei}}</td>
                        {% set antiguedad = dateManager.get_month_diff(linea.equipo.fechaIngreso) %}

                        <td>{{antiguedad}} Meses</td>
                            {% if ((antiguedad) - 18) <= 0 %}
                                {% set restantes = 18 - antiguedad  %}
                            {% else %}
                                {% set restantes = 0  %}        
                            {% endif %}
                        <td>${{ restantes * linea.equipo.modelo.cuotaArrendamiento }}</td>
                        <td>{{linea.plan.nombre}}</td>
                        <td>
                        <a class="btn cyan"  href="{{path("linea_view",{"id":linea.id})}}" ><i class="material-icons">pageview</i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
       </div>
   </div>
  </div>
  <br>
</div>
{% endblock %}