
{% block body %}
        <h3>Lineas</h3>
        <div class="col s12 m12 ">
        <table class="table table-data-filter">
            <thead>
            <tr>
                <th>Linea</th>
                <th>Usuario</th>
                <th>CeCo</th>
                <th>Modelo</th>
                <th>Plan</th>
                <th>Antiguedad</th>
                <th>Grupo</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            {% for linea in lineas %}
                <tr>
                    <td>{{linea.numero}}</td>
                    {% if linea.empleado.nombre is defined %}
                        <td>{{linea.empleado.nombre}}</td>
                    {% else %}
                        
                        <td>No indicado</td>
                    {% endif %}
                    {% if linea.empleado.codeCeco is defined %}
                        <td>{{linea.empleado.codeCeco}}</td>
                    {% else %}
                        <td>No indicado</td>
                    {% endif %}
                    
                    <td>{{linea.equipo.modelo.nombre}}</td>
                    <td>{{linea.plan.nombre}}</td> 
                    <td>{{linea.grupo.nombre}}</td>
                    <td>{{dateManager.get_month_diff(linea.equipo.fechaIngreso)}} Meses</td>
                    <td>
                        <a class="btn cyan"  href="{{path("linea_view",{"id":linea.id})}}" ><i class="material-icons">pageview</i></a>
                    </td>
                </tr>
            {% else %}
            <tr>
                <td colspan="5">No se encontraron registros</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        
    <a href="{{ path('linea_new') }}" class="btn btn-primary">Agregar Nueva Linea</a>
        </div>

{% endblock %}
