{% extends 'base.html.twig' %}

{% block title %}New Linea{% endblock %}

{% block body %}

<div class="container">
    <div class="box-header">
        <h1 class="box-title">Linea</h1>
    </div>
    <div class="box-body">
        <form action="" method="POST" role="form">
            <div class="form-group">
                {{ include('linea/_form.html.twig',{'button_label': 'Crear'}) }}
                </br>
                </br>
                <a href="{{ path('gestion',{'active':'lineas'}) }}" class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
<br>
{% endblock %}