{% extends 'base.html.twig' %}

{% block title %}Linea{% endblock %}

{% block body %}

<div class="container">
  <div class="box-header">
    <h3 class="box-title">Linea</h3>
  </div>
  <div class="card">
    <table class="striped">
      <tbody>
            <tr>
                <th>Id</th>
                <td>{{ linea.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ linea.numero }}</td>
            </tr>
            <tr>
                <th>Empleado</th>
                <td>{{ linea.empleado.nombre }}</td>
            </tr>
            <tr>
                <th>CeCo</th>
                <td>{{ linea.empleado.codececo }} - {{ linea.empleado.nombrececo }} </td>
            </tr>
            <tr>
                <th>Grupo</th>
                <td>{{ linea.grupo.nombre }}</td>
            </tr>
            <tr>
                <th>Equipo</th>
                <td>{{ linea.equipo.imei }} - {{ linea.equipo.modelo.nombre }} </td>
            </tr>

            {% set antiguedad = dateManager.get_month_diff(linea.equipo.fechaIngreso) %}

            <tr>
                <th>Antiguedad</th>
                <td> {{antiguedad}} Meses</td>
            </tr>
            <tr>
                <th>Costo aceleración (Aproximado)</th>
                {% if ((antiguedad) - 18) <= 0 %}
                    {% set restantes = 18 - antiguedad  %}
                {% else %}
                    {% set restantes = 0  %}        
                {% endif %}
                
                <td>${{ restantes * linea.equipo.modelo.cuotaArrendamiento }}</td>
            </tr>
      </tbody>
    </table>
    </br>
    
    <div class="card-content">
        <table>
            <tr>
            {# <td><a href="{{ path('linea_edit', {'id': linea.id}) }}" class="btn btn-primary">Ir a modificar</a></td> #}
               {# <td>{{ include('linea/_delete_form.html.twig') }}</td>#}
                <td><a href="{{ path('gestion',{'active':'lineas'}) }}" class="btn btn-primary">Volver a la lista</a></td>
            </tr>
        </table>
    </div>
  </div>
  {% if is_granted('ROLE_ADMIN') %}
  <div class="card">
    <div class="card-content"> 
        <h4>Re-Asignación de linea</h4>
         {{ form(form.reasignacion) }}
    </div>
  </div>
  {% endif %}
  <div class="card">
    <div class="card-content"> 
        <h4>Cambio Equipo</h4>
         {{ form(form.cambioEquipo) }}
    </div>
  </div>
  <div class="card">
    <div class="card-content"> 
        <h4>Cambio Número</h4>
         {{ form(form.cambioNumero) }}
    </div>
  </div>
  <div class="card">
  <div class="card-content">
      <h4>Historial de Movimientos</h4>
      <table class="center">
          <thead>
              <tr>
                  <th>Fecha</th>
                  <th>Empleado Origen</th>
                  <th>Empleado Destino</th>
                  <th>Tipo</th>
                  <th>Observación</th>
                  <th>Técnico</th>
              </tr>
          </thead>
        
              {% for movimiento in linea.movimientos|reverse %}
                <tr>
                  <td>{{movimiento.fecha|date('d-m-Y')}}</td>
                  <td>{{movimiento.empleadoOrigen.nombre}}</td>
                  <td>{{movimiento.empleado.nombre}}</td>
                  <td>{{movimiento.getTipo2()}}</td>
                  <td>{{movimiento.observacion}}</td>
                  {% if movimiento.tecnico != null %}
                  
                  <td>{{movimiento.tecnico.fullName}}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
          </tr>
              {% endfor %}
      </table>
  </div>
  </div>
  <br>
</div>
        


    

    
{% endblock %}