{% extends 'base.html.twig' %}

{% block title %}New Empleado{% endblock %}

{% block body %}
<div class="box box-danger">
    <div class="box-header">
        <h1 class="box-title">Empleado</h1>
    </div>
    <div class="box-body">
            <div class="form-group">
            
                {{form(form)}}  
                <a class="btn btn-success" href="{{ asset('uploads/nomina.xlsx') }}">Descargar archivo de prueba</a>
                <a class="btn btn-primary" href="{{path("empleado_index")}}">Volver a la lista</a>
            </div>
    </div>
</div>
{% endblock %}