{% extends 'base.html.twig' %}

{% block title %}ALM - {{controller_name}}{% endblock %}

{% block body %}
<nav class="black nav-extended">
    <!--<div class="nav-wrapper"></div>-->
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
        <li class="tab"><a class="{% if active.lineas is defined %}active{% endif %}" href="#listado">Lineas</a></li>
        <li class="tab"><a class="{% if active.equipos is defined %}active{% endif %}" href="#equipos">Equipos</a></li>
        <li class="tab"><a class="{% if active.empleados is defined %}active{% endif %}" href="#empleados">Empleados</a></li>
        {% if is_granted("ROLE_ADMIN") %}
        
        <li class="tab"><a class="{% if active.import is defined %}active{% endif %}" href="#importar">Importar</a></li>
        {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
<div class="row"></div>
    <div id="listado"> 
        {% include 'linea/index.html.twig' %}
    </div>
    <div id="importar">
        <div class="card">
            <div class="card-content">
                <p>Utiliza el formulario <a href="{{asset('uploads/nomina.xlsx')}}">NOMINA</a> como base para importar los empleados.</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                <li class="tab active"><a href="#formularioImportEmpleados">Importar Empleados</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="formularioImportEmpleados" class="center">
                    {{form(formularios.empleados)}}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p>Utiliza el formulario <a href="{{asset('uploads/newtelefonia.xlsx')}}">NEW TELEFONIA</a> como base para importar lineas.</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                <li class="tab active"><a href="#formularioImportEmpleados">Importar Lineas</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="formularioImportEmpleados" class="center">
                    {{form(formularios.lineas)}}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p>Utiliza el formulario <a href="{{asset('uploads/equipos.xlsx')}}">EQUIPOS</a> como base para importar equipos.</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                <li class="tab active"><a href="#formularioImportEmpleados">Importar Equipos</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="formularioImportEmpleados" class="center">
                    {{form(formularios.equipos)}}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p>Utiliza el formulario <a href="{{asset('uploads/modelos.xlsx')}}">MODELOS</a> como base para importar modelos.</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                <li class="tab active"><a href="#formularioImportEmpleados">Importar Modelos</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="formularioImportEmpleados" class="center">
                    {{form(formularios.modelos)}}
                </div>
            </div>
        </div>
    </div>
    <div id="equipos" class="col s12">
        {% include 'equipo/index.html.twig' %}
    </div>
    <div id="empleados" class="col s12">
        {% include 'empleado/index.html.twig' %}
    </div>


{% endblock %}
