{% extends 'base.html.twig' %}

{% block title %}ALM - {{ controller_name }}!{% endblock %}

{% block body %}
{% include 'administracion/nav.html.twig' %}

<div class="container">
<div class="row"></div>
    <div id="modelos">
        {% include 'modelo/index.html.twig' %}
    </div>
 
    <div id="grupos">
          {% include 'grupo/index.html.twig' %}
    </div>
    <div id="usuarios">
        {% include 'usuario/index.html.twig' %}
    </div>
    <div id="planes">
        {% include 'plan/index.html.twig' %}
    </div>


</div>
{% endblock %}
