<nav class="black nav-extended">
    <!--<div class="nav-wrapper"></div>-->
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="{% if active.modelos is defined %}active{% endif %}" href="#modelos">Modelos</a></li>
            <li class="tab"><a class="{% if active.grupos is defined %}active{% endif %}" href="#grupos">Grupos</a></li>
            <li class="tab"><a class="{% if active.usuarios is defined %}active{% endif %}" href="#usuarios">Usuarios</a></li>
            <li class="tab"><a class="{% if active.planes is defined %}active{% endif %}" href="#planes">Planes</a></li>
        </ul>
    </div>
</nav>